.main-block-one-h3 {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.main-block-one-p {
    font-size: 25px;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-block-one-images {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.main-block-one-images img {
    width: 450px;
}